//Main colors
$logo-gray: #959CA1;
$logo-blue: #00457C;
$main-blue: #0E7CCF;
$main-light-blue: #2BA4FF;
$main-orange: #F09000;
$main-light-orange: #FFD28F;
$back: #000000;
$dark-gray: #202020;
$white: #FFFFFF;
$yellow: #fdbe33;