@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-BoldIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-BoldIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-BoldIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-BoldIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-BoldIt.svg#ProximaNova-BoldIt) format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt) format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-LightIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-LightIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-LightIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-LightIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-LightIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-LightIt.svg#ProximaNova-LightIt) format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Bold.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Bold.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Bold.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Bold.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-RegularIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-RegularIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-RegularIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-RegularIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-RegularIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-RegularIt.svg#ProximaNova-RegularIt) format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Light.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Light.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Light.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Light.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-BlackIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-BlackIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-BlackIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-BlackIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-BlackIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-BlackIt.svg#ProximaNova-BlackIt) format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-ThinIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-ThinIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-ThinIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-ThinIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-ThinIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-ThinIt.svg#ProximaNova-ThinIt) format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Extrabld.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Extrabld.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Extrabld.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Extrabld.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Extrabld.svg#ProximaNova-Extrabld) format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-SemiboldIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-SemiboldIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-SemiboldIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-SemiboldIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-SemiboldIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt) format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Semibold.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Semibold.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Semibold.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Semibold.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold) format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNovaT-Thin.eot);
  src: url(../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNovaT-Thin.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNovaT-Thin.woff) format("woff"), url(../fonts/ProximaNova/ProximaNovaT-Thin.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNovaT-Thin.svg#ProximaNovaT-Thin) format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Regular.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Regular.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Regular.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Regular.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Black.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Black.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Black.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Black.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Black.svg#ProximaNova-Black) format("svg");
  font-weight: 900;
  font-style: normal;
}

/********** Top Bar CSS ***********/
@media (min-width: 1200px) {
  .top-bar-row {
    margin: 20px 0px;
  }
  .top-bar-item {
    float: right;
  }
}

@media (min-width: 992px) {
  .top-bar {
    padding: 0 60px;
  }
}

@media (max-width: 991.98px) {
  .top-bar .logo {
    text-align: center;
  }
}

.top-bar {
  position: relative;
  background: #fdbe33;
}

.top-bar .logo {
  padding: 15px 0;
  text-align: left;
  overflow: hidden;
}

.top-bar .logo img {
  max-width: 100%;
  max-height: 40px;
}

.top-bar .logo h1 {
  margin: 0;
  color: #00457C;
  margin-left: 8px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.top-bar .top-bar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .top-bar-text p {
  color: #000000;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.top-bar .top-bar-icon {
  width: 40px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .top-bar-icon img {
  width: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.top-bar .top-bar-icon .icon-phone {
  -webkit-mask: url(../img/phone-call.svg);
          mask: url(../img/phone-call.svg);
}

.top-bar .top-bar-icon .icon-location {
  -webkit-mask: url(../img/phone-call.svg);
          mask: url(../img/phone-call.svg);
}

.top-bar .top-bar-icon .icon-time {
  -webkit-mask: url(../img/phone-call.svg);
          mask: url(../img/phone-call.svg);
}

.top-bar .top-bar-icon .icon {
  display: inline-block;
  background: #00457C;
  width: inherit;
  -webkit-mask-size: cover;
          mask-size: cover;
}

.top-bar .top-bar-icon .icon:hover,
.top-bar .top-bar-icon .icon:focus {
  background: #0E7CCF;
}

.top-bar .top-bar-text {
  padding-left: 15px;
}

.top-bar .top-bar-text ul {
  padding: 0;
  margin: 0;
}

.top-bar .top-bar-text ul li {
  list-style-type: none;
  line-height: 17px;
}

.top-bar .top-bar-text a {
  font-size: 14px;
  color: #00457C;
  text-decoration: none;
}

.top-bar .top-bar-text a:hover {
  color: #0E7CCF;
}

.top-bar .top-bar-text h3 {
  color: #000000;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

/*********** Nav Bar CSS **********/
.nav-bar {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 0;
}

.nav-bar .container-fluid {
  padding: 0;
}

.nav-bar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1366px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav-bar .navbar {
  height: 100%;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fdbe33;
  -webkit-transition: none;
  transition: none;
}

.nav-bar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

.nav-bar .btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0;
}

.nav-bar .btn:hover {
  color: #030f27;
  background: #fdbe33;
  border-color: #fdbe33;
}

@media (min-width: 992px) {
  .nav-bar.nav-sticky {
    padding: 0;
  }
  .nav-bar .navbar {
    padding: 20px;
  }
  .nav-bar .navbar-brand {
    display: none;
  }
  .nav-bar a.nav-link {
    padding: 8px 15px;
    font-size: 15px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .nav-bar .navbar {
    padding: 15px;
  }
  .nav-bar a.nav-link {
    padding: 5px;
  }
  .nav-bar .dropdown-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-bar .btn {
    display: none;
  }
}

body {
  font-family: "Proxima Nova", sans-serif, Arial, Verdana, "Trebuchet MS";
}
/*# sourceMappingURL=styles.css.map */