@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-BoldIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-BoldIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-BoldIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-BoldIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-BoldIt.svg#ProximaNova-BoldIt) format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt) format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-LightIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-LightIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-LightIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-LightIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-LightIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-LightIt.svg#ProximaNova-LightIt) format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Bold.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Bold.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Bold.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Bold.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-RegularIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-RegularIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-RegularIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-RegularIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-RegularIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-RegularIt.svg#ProximaNova-RegularIt) format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Light.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Light.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Light.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Light.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-BlackIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-BlackIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-BlackIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-BlackIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-BlackIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-BlackIt.svg#ProximaNova-BlackIt) format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-ThinIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-ThinIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-ThinIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-ThinIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-ThinIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-ThinIt.svg#ProximaNova-ThinIt) format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Extrabld.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Extrabld.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Extrabld.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Extrabld.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Extrabld.svg#ProximaNova-Extrabld) format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-SemiboldIt.eot);
  src: url(../fonts/ProximaNova/ProximaNova-SemiboldIt.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-SemiboldIt.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-SemiboldIt.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-SemiboldIt.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt) format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Semibold.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Semibold.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Semibold.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Semibold.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold) format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNovaT-Thin.eot);
  src: url(../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNovaT-Thin.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNovaT-Thin.woff) format("woff"), url(../fonts/ProximaNova/ProximaNovaT-Thin.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNovaT-Thin.svg#ProximaNovaT-Thin) format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Regular.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Regular.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Regular.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Regular.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova/ProximaNova-Black.eot);
  src: url(../fonts/ProximaNova/ProximaNova-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Black.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Black.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Black.ttf) format("truetype"), url(../fonts/ProximaNova/ProximaNova-Black.svg#ProximaNova-Black) format("svg");
  font-weight: 900;
  font-style: normal;
}

/********** Top Bar CSS ***********/
@media (min-width: 1200px) {
  .top-bar-row {
    margin: 20px 0px;
  }
  .top-bar-item {
    float: right;
  }
}

@media (min-width: 992px) {
  .top-bar {
    padding: 0 60px;
  }
}

@media (max-width: 991.98px) {
  .top-bar .logo {
    text-align: center;
  }
}

.yellow-bg {
  background: #fdbe33;
}

.top-bar {
  position: relative;
}

.top-bar .logo {
  padding: 15px 0;
  text-align: left;
  overflow: hidden;
}

.top-bar .logo img {
  max-width: 100%;
  max-height: 40px;
}

.top-bar .logo h1 {
  margin: 0;
  color: #00457C;
  margin-left: 8px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.top-bar .top-bar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .top-bar-text p {
  color: #333;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.top-bar .top-bar-icon {
  width: 40px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .top-bar-icon img {
  width: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.top-bar .top-bar-icon .icon-phone {
  -webkit-mask: url(../img/phone-call.svg);
          mask: url(../img/phone-call.svg);
}

.top-bar .top-bar-icon .icon-location {
  -webkit-mask: url(../img/phone-call.svg);
          mask: url(../img/phone-call.svg);
}

.top-bar .top-bar-icon .icon-time {
  -webkit-mask: url(../img/phone-call.svg);
          mask: url(../img/phone-call.svg);
}

.top-bar .top-bar-icon .icon {
  display: inline-block;
  background: #00457C;
  width: inherit;
  -webkit-mask-size: cover;
          mask-size: cover;
}

.top-bar .top-bar-icon .icon:hover,
.top-bar .top-bar-icon .icon:focus {
  background: #0E7CCF;
}

.top-bar .top-bar-text {
  padding-left: 15px;
}

.top-bar .top-bar-text ul {
  padding: 0;
  margin: 0;
}

.top-bar .top-bar-text ul li {
  list-style-type: none;
  line-height: 17px;
}

.top-bar .top-bar-text a {
  font-size: 14px;
  color: #00457C;
  text-decoration: none;
}

.top-bar .top-bar-text a h3,
.top-bar .top-bar-text a p {
  color: #00457C;
}

.top-bar .top-bar-text a:hover {
  color: #0E7CCF;
}

.top-bar .top-bar-text a:hover h3,
.top-bar .top-bar-text a:hover p {
  color: #0E7CCF;
}

.top-bar .top-bar-text h3 {
  color: #333;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

/*********** Nav Bar CSS **********/
@media (max-width: 992px) {
  body .nav-bar {
    padding: 0;
  }
}

.nav-bar {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 0 70px;
}

.nav-bar .container-fluid {
  padding: 0;
}

.nav-bar.nav-sticky {
  -webkit-transition: .5s;
  transition: .5s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 0;
}

.nav-bar .navbar {
  height: 100%;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fdbe33;
  -webkit-transition: none;
  transition: none;
}

.nav-bar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

.nav-bar .btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0;
}

.nav-bar .btn:hover {
  color: #FFFFFF;
  background: #fdbe33;
  border-color: #fdbe33;
  color: #333;
}

@media (min-width: 992px) {
  .nav-bar.nav-sticky {
    padding: 0;
  }
  .nav-bar .navbar {
    padding: 20px;
  }
  .nav-bar .navbar-brand {
    display: none;
  }
  .nav-bar a.nav-link {
    padding: 8px 15px;
    font-size: 15px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .nav-bar .navbar {
    padding: 15px;
  }
  .nav-bar a.nav-link {
    padding: 5px;
  }
  .nav-bar .dropdown-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-bar .btn {
    display: none;
  }
}

/********** About CSS **********/
.about {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.about .section-header {
  margin-bottom: 30px;
}

.about .section-header P {
  color: #F09000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.about .section-header h2 {
  margin: 0;
  position: relative;
  font-size: 50px;
  font-weight: 700;
}

.about .about-img {
  position: relative;
  height: 100%;
}

.about .about-img img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .about-text p {
  font-size: 16px;
}

.about .about-text a.btn {
  position: relative;
  margin-top: 15px;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333;
  border-radius: 0;
  background: #F09000;
  -webkit-transition: .3s;
  transition: .3s;
}

.about .about-text a.btn:hover {
  color: #333;
  background: #FFD28F;
}

@media (max-width: 767.98px) {
  .about .about-img {
    margin-bottom: 30px;
    height: auto;
  }
}

/********* Feature CSS *********/
.feature {
  position: relative;
  margin-bottom: 45px;
}

.feature .col-md-12 {
  background: #333;
}

.feature .col-md-12:nth-child(2n) {
  color: #333;
  background: #F09000;
}

.feature .feature-item {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.feature .feature-icon {
  position: relative;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*.feature .feature-icon::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    top: -20px;
    left: -10px;
    border: 2px dotted #ffffff;
    border-radius: 60px;
    z-index: 1;
}

.feature .feature-icon::after {
    position: absolute;
    content: "";
    width: 79px;
    height: 79px;
    top: -18px;
    left: -9px;
    background: #030f27;
    border-radius: 60px;
    z-index: 2;
}*/
.feature .col-md-12:nth-child(2n) .feature-icon::after {
  background: #F09000;
}

.feature .feature-icon [class^="flaticon-"]::before {
  position: relative;
  margin: 0;
  color: #F09000;
  font-size: 60px;
  line-height: 60px;
  z-index: 3;
}

.feature .feature-text {
  padding-left: 30px;
}

.feature .feature-text h3 {
  margin: 0 0 10px 0;
  color: #F09000;
  font-size: 25px;
  font-weight: 600;
}

.feature .feature-text p {
  margin: 0;
  color: #F09000;
  font-size: 18px;
  font-weight: 400;
}

.feature .col-md-12:nth-child(2n) [class^="flaticon-"]::before,
.feature .col-md-12:nth-child(2n) h3,
.feature .col-md-12:nth-child(2n) p {
  color: #333;
}

/********* Service CSS *********/
.service {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.service .service-item {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.service .service-img {
  position: relative;
  overflow: hidden;
}

.service .service-img img {
  width: 100%;
}

.service .service-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(20, 20, 20, 0.7);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.service .service-item:hover .service-overlay {
  opacity: 1;
}

.service .service-overlay p {
  margin: 0;
  color: #ffffff;
}

.service .service-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.service .service-text h3 {
  margin: 0;
  padding: 0 15px 0 25px;
  width: calc(100% - 60px);
  font-size: 20px;
  font-weight: 700;
  color: #F09000;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.service .service-item a.btn {
  width: 60px;
  height: 60px;
  padding: 3px 0 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: 100;
  color: #333;
  background: #F09000;
  border-radius: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.service .service-item:hover a.btn {
  color: #ffffff;
}

.service .section-header {
  margin-bottom: 30px;
}

.service .section-header P {
  color: #F09000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.service .section-header h2 {
  margin: 0;
  position: relative;
  font-size: 50px;
  font-weight: 700;
}

/********** Fact CSS ***********/
.fact {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.fact .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fact .fact-icon {
  position: relative;
  margin: 7px 15px 0 15px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fact .fact-icon [class^="flaticon-"]::before {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F09000));
  background-image: linear-gradient(#ffffff, #F09000);
  -webkit-text-fill-color: transparent;
}

.fact .fact-right .fact-icon [class^="flaticon-"]::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#333));
  background-image: linear-gradient(#ffffff, #333);
}

.fact .fact-left,
.fact .fact-right {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fact .fact-text h2 {
  font-size: 35px;
  font-weight: 700;
}

.fact .fact-text p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.fact .fact-left {
  color: #F09000;
  background: #333;
}

.fact .fact-right {
  color: #333;
  background: #F09000;
}

.fact .fact-left h2 {
  color: #F09000;
}

/*********** FAQs CSS **********/
.faqs {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.faqs .row {
  position: relative;
}

.faqs .row::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  left: calc(50% - .5px);
  background: #F09000;
}

.faqs #accordion-1 {
  padding-right: 15px;
}

.faqs #accordion-2 {
  padding-left: 15px;
}

@media (max-width: 767.98px) {
  .faqs .row::after {
    display: none;
  }
  .faqs #accordion-1,
  .faqs #accordion-2 {
    padding: 0;
  }
  .faqs #accordion-2 {
    padding-top: 15px;
  }
}

.faqs .card {
  margin-bottom: 15px;
  border: none;
  border-radius: 0;
}

.faqs .card:last-child {
  margin-bottom: 0;
}

.faqs .card-header {
  padding: 0;
  border: none;
  background: #ffffff;
}

.faqs .card-header a {
  display: block;
  padding: 10px 25px;
  width: 100%;
  color: #333;
  font-size: 16px;
  line-height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.faqs .card-header [data-toggle="collapse"][aria-expanded="true"] {
  background: #F09000;
}

.faqs .card-header [data-toggle="collapse"]:after {
  font-family: 'font Awesome 5 Free';
  content: "\f067";
  float: right;
  color: #F09000;
  font-size: 12px;
  font-weight: 900;
}

.faqs .card-header [data-toggle="collapse"][aria-expanded="true"]:after {
  font-family: 'font Awesome 5 Free';
  content: "\f068";
  float: right;
  color: #333;
  font-size: 12px;
  font-weight: 900;
}

.faqs .card-body {
  padding: 20px 25px;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}

.faqs .card.collapsed .card-header a:after {
  content: "+";
  float: right;
  color: #F09000;
  font-weight: 100;
  font-size: 40px;
}

.faqs .card.collapsed .card-body {
  display: none;
  -webkit-transition: 3.5s;
  transition: 3.5s;
}

.faqs .card.expanded .card-header {
  background: #F09000;
}

.faqs .card.expanded .card-header a {
  color: #FFFFFF;
}

.faqs .card.expanded .card-header a:after {
  color: #FFFFFF;
  content: "-";
  float: right;
  font-weight: 100;
  font-size: 40px;
}

.faqs .card-header a {
  display: block;
  padding: 10px 25px;
  width: 100%;
  color: #121518;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

/********** Video CSS **********/
.video {
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 45px 0;
  height: 100%;
  min-height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.9)), to(rgba(20, 20, 20, 0.9))), url(../../img/prod_475_0006.jpg);
  background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9)), url(../../img/prod_475_0006.jpg);
  height: 700px;
}

.video iframe {
  height: 700px;
  width: 100%;
}

.video .btn-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #F09000;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #F09000;
  border-radius: 50%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.video .btn-play:hover:after {
  background-color: #bd7100;
}

.video .btn-play img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #333;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

body {
  font-family: "Proxima Nova", sans-serif, Arial, Verdana, "Trebuchet MS";
  background: #eee;
  color: #333;
}

.section-header {
  margin-bottom: 30px;
}

.section-header P {
  color: #F09000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 50px;
  font-weight: 700;
}

.card-header:first-child {
  border-radius: 0;
}
/*# sourceMappingURL=styles.css.map */